.block-left{
	width:50%;
	height:800px;
	overflow:auto;
	float:left;
}
.block-right{
	width:50%;
	height:800px;
	overflow:auto;
}
textarea, input{
	margin: 10px;
	padding: 10px;
	border: unset;
	border-bottom: 2px solid #e3e3e3;
	outline: none;
	position: relative;
	left: 60px;
}