*{
	font-family: Montserrat, sans-serif;
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	background: #242424;
}
a{
	color: #7c9ab7;
	font-weight: bold;
	text-decoration: none;
}
p{
	margin: 10px 0;
}
form{
	display: flex;
	flex-direction: column;
	width: 350px;
}

input{
	margin: 10px;
	padding: 10px;
	border: unset;
	border-bottom: 2px solid #e3e3e3;
	outline: none;
}
button{
	padding: 10px;
	background: #e3e3e3;
	border: unset;
	cursor: pointer;
}
.all{
	width: 1000px;
	margin: 0 auto;
	
}
.header{
	height: 150px;
	background: #1a1a1a;
}
.footer{
	height: 100px;
	background: #1a1a1a;
}
.content{
	display: flex;
	height: 500px;
	align-items: center;
	justify-content: center;
	background: #C7C0AE;
}